/* body{
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

  }


  main{
      height: 100vh;
  }

main section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    color: #fff;
    width: 40%;
    height: auto;
    margin: 2rem auto;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 2rem;
}
header{
    margin-bottom: 10rem;
}

main section h2{
    margin-bottom: 4rem;

}
main section ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
main section img{
    max-width: 20rem;
}

main section li:first-child:hover img {
    filter: drop-shadow(0 0 0.75rem #f69c72);
}

main section li:nth-child(2):hover img {
    filter: drop-shadow(0 0 0.75rem #7cb6d9);
}

main section li:nth-child(3):hover img {
    filter: drop-shadow(0 0 0.75rem #fff096);
}

main section li:nth-child(4):hover img {
    filter: drop-shadow(0 0 0.75rem #27789b);
}
main section li:nth-child(5):hover img {
    filter: drop-shadow(0 0 0.75rem #b0b3d4);
}



@media screen and (max-width: 70rem) {
    main section{
        width: 90%;
        font-size: 1.7rem;
    }
    main section img{
        max-width: 10rem;
    }
}
     */

     :root {
        --main-grid: repeat(auto-fill, minmax(300px, 1fr));
        --main-padding: 40px;
    }
    
    body {
        font-family: 'Poppins', sans-serif;


    }
    
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    

    
    main {
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
        background: #ebebeb;
        text-align: center;
        min-height: 90vh;
    }
    
    main .text {
        margin-top: 4rem;
        padding-bottom: 5rem;
    }
    
    main h2 {
        font-size: 3.5rem;
        color: #1b1b1b;
        padding-bottom: 2rem;
    }
    
    main h2 span {
        color: #00cfe8;
    }
    
    main p {
        font-size: 1.8rem;
        color: #1b1b1b;
        font-weight: 400;
    }
    
    main .skill-card {
        display: grid;
        grid-template-columns: var(--main-grid);
        grid-gap: 6rem;
        margin-bottom: 4rem;
        margin-top: 6rem;

    }
    
    main .skill-card .card{
        padding: 2.5rem;
        text-align: center;
        background-color: #1b1b1b;
        border: .2rem solid #00cfe8;
        color: #d4d4d4;
        transition: 1s;
        position: relative;
        margin-bottom: 3rem;
      
    }
    
    main .card h4{
        padding-top: 3rem;
        padding-bottom: 1rem;
        font-size: 2.5rem;
        font-weight: 500;
    }
    
    main .card p{
        line-height: 1.7;
        font-size: 1.6rem;
        color: #d4d4d4;
    }
    
    main .card i{
        font-size: 4.2rem;
        padding: 1.5rem;
        width: 7.5rem;
        height: 7.5rem;
        color: #1b1b1b;
        background-color: #00cfe8;
        position: absolute;
        top: calc(-10rem/ 2);
        transform: rotate(45deg);
        left: 39%;
        transition: 1s;
        border: .1rem solid #00cfe8;
    }
    
    main .card:hover{
        background-color: transparent;
    }
    
    main .card:hover i{
        transform: rotate(0deg);
        background-color: #ebebeb;
    }
    
    main .card:hover h4, main .card:hover p{
        color: #1b1b1b;
        transition: 1s;
    }
    
    main a{
        border: .1rem solid #00cfe8;
        background-color: #00cfe8;
        border-radius: .2rem;
        color: #1b1b1b;
        transition: background-color 0.8s;
        padding: 1.2rem 2rem;
        letter-spacing: .15rem;
        z-index: 5rem;
        text-decoration: none;
    }
    
    main a:hover{
        background-color: #1b1b1b;
        color: #00cfe8;
    }
    
    .support{
      position: relative;
      padding-left: 2rem;
      padding-bottom: 2rem;
      display: flex;
      background-color: #ebebeb;
    }
    
    .support i{
      color: #00cfe8;
      font-size: 2rem;
      margin-left: .8rem;
    }
    
    .hide1{
      display: none;
      margin-left: 5rem;
      margin-right: 1rem;
      color: #00cfe8;
      font-size: 1.5rem;
    }
    
    .support a:hover + .hide1{
      display: block;
      transition: all 1s;
    }

    @media (min-width: 76rem) {
        .container {
            width: 75rem;
        }
    }
    
    @media (min-width: 100rem) {
         .container {
            width: 97rem;
        }
    }
    
    @media (min-width: 120rem) {
        .container {
            width: 117rem;
        }
    }
