footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(12, 11, 11, 0.8);
    color: #f9f9f9;
    padding: 3rem 0;
}
footer h2, footer p{
    font-size: 2.6rem;
}
footer p{
    padding-top: 4rem;
    text-align: center;
    color: grey;
}
footer ul li a{
    font-size: 2rem;
}


footer img{
    height: auto;
    width: auto;
}

footer ul li{
    padding: 1rem 0;
}

.footer{
    display: flex;
    justify-content: space-around;

}
.Menu ul{
    display: flex;
    flex-direction: column;
}


.Menu ul li a, .Contact ul li a{
    color: #ccc;

}


.Contact ul {
    display: flex;
    flex-direction: row;
}


 .Contact ul li{
    padding:  2rem 0;
}




@media  screen and  (max-width: 50rem) {
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        flex-direction: column;
    }


    
}



 